*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.top{
    display: flex;
    height: calc(100vh - 90px);
}






.logo{
    padding-right: 3px;
}

.logo-s{
    display: none;
}


.text{
    display: none;
}

.sidebar{
    background-color: black;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    li{
        padding:5px 7px;
    }
    a{
        display: flex;
        align-items: center;
    }

}

.upgrade{
    
    background-color: #080b12;
    padding: 30px;
    text-align: end;
    height: 70px;
    position: sticky;

    a{
        color: rgb(215, 200, 200);
        text-decoration: none;
        border: 1px solid white;
        padding: 5px 20px;
        border-radius: 20px;
    }
}

a:hover{
    color: white;
    
} 
.display-none{
    display: none;
}


.main{
    
    background-color: #141922;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 70px - 90px);

    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-top: 10px;

    }
    
    li{
    list-style: none;
    }

    a{
    color: rgb(215, 200, 200);
    text-decoration: none;
    
    }

    a:hover{
    color: white;
    }

    h3{
        color: white;
        margin: 20px;
        font-size: 20px;
    }

    p{
        padding-left: 5px;
        color: grey;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.col{
    width: calc(100% / 12 * 6);
    position: relative;
}

[class^="col"]{
    padding: 10px;

}
.foto{
    border-radius: 50%;
}
.title{
        
    color: white;
}
.descrizione{
    text-align: center;
}
.sub{
    color: grey;
}


.bottom{
    background-color:#282828;
    height: 90px;

    ul{
        
        list-style: none;
        align-items: center;
        
    }
    li{
        padding: 0 5px;
         strong{
            margin-left: 5px;
            color: white;
            font-size: 10px;
        }

        .fa-regular{
            color: grey;
            font-size: 10px;
        }
    }

    .fa-solid{
        color: grey;
        padding:10px;
    }

}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
  

    
   .card{
    .fa-solid{
        font-size: 60px;
        color: grey;
        
    }
   }
 
.brano{
    display: flex;
    align-items: center;
}

.card-album{


    .nome{
        color: grey;
        font-size: 10px;
        margin-left: 5px;
        }
}

.player{
    display: flex;
    justify-content: center;
}

.position{
    position: relative;
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}










/* MEDIA QUERY */

/* media s */
@media screen and (min-width:640px) {
    .sidebar{
        min-width: 100px;
        }
        .main{
            width: calc(100vw - 100px);
        }

        .logo{
            display: none;
        }

        .logo-s{
            display: block;
        }

        .upgrade{
            a{

                    font-size: 20px;
                
            }
        }
        a {
            text-decoration: none;
            color: rgb(185, 182, 182);
            font-size: 10px;
            padding: 3px;
        }

      
        .text{
            display: inline-block;
        }

        .scarica{
            width: 5px;
        }

        .playlist{
            color: white;
        }
        
        .fa-solid{
            font-size: 20px;
        }

        .display-none{
            display: inline-block;
        }
        

}


/* section md */

@media screen and (min-width:878px) {
    .sidebar{
        width:120px ;
        a{
            padding: 7px;
        }
    }
    .main{
        width: calc(100vw - 120px );

        ul{
            
            gap: 20px;
    
        }
        
        a{
        font-size: 10px;
        padding: 10px;
        margin: 20px;
        }
    }

    .col{
       
        width: calc(100% / 12 * 3);
        
    }

  



    
}


/* section lg */
@media screen and (min-width: 1440px) {

    .sidebar{
        width: 140px;

        a{
            font-size: 12px;
            padding: 10px;
        }
    }
    .main{
        width: calc(100vw - 140px);

        ul{
            gap: 10px;
        }
        a{
            font-size: 15px;
            padding: 5px;
            margin: 10px;
            }
    }
    .col{
        width: calc(100% / 12 * 2);
    }
}