*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* TOP */

.top{
    display: flex;
    height: calc(100vh - 90px);
}




/* SIDEBAR */
.sidebar{
    background-color: black;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 90px);
    overflow: hidden;
    

    li{
        padding:5px 7px;
    }
    a{
        display: flex;
        align-items: center;
    }
    i:hover{
        color: white;
    }


}

.logo{
    padding-right: 3px;
}

.logo-s{
    display: none;
}


.text{
    display: none;
}

/* END SIDEBAR */





/* UPGRADE */

.upgrade{
    
    background-color: #080b12;
    padding: 30px;
    text-align: end;
    height: 70px;
    position: sticky;

    a{
        color: rgb(215, 200, 200);
        text-decoration: none;
        border: 1px solid white;
        padding: 5px 20px;
        border-radius: 20px;
    }
}

/* END UPGRADE */




/* MAIN */
.main{
    
    background-color: #141922;
    width: 100%;
    height: calc(100vh - 90px - 70px);
    overflow-y: auto;

    i:hover{
        color: white;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-top: 10px;

    }
    
    li{
    list-style: none;
    }

    a{
    color: rgb(215, 200, 200);
    text-decoration: none;
     }

    

    h3{
        color: white;
        margin: 20px;
        font-size: 20px;
    }

    p{
        padding-left: 5px;
        color: grey;
    }

    .yellow-line{
        position: relative;
    }
    
    .yellow-line::after{
        content: "";
        background-color: yellow;
        width: 35px;
        height: 3px;
        position: absolute;
        top: 25px;
        left: 35px;
    }

   .position{
    position: relative;
    }  

    .play{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.295);
    display: none;
    width: 100%;
    height: 100%;  

}
.round img{
    border-radius: 50%;
}
.play.round{
    border-radius: 50%;
}


.position:hover .play{
    display: flex;
    justify-content: center;
    align-items: center;
}
}   

/* END MAIN */


    /* UTILITIES */

    a:hover{
        color: white;
        
    } 

    .display-none{
        display: none;
    }

    a{
    color: white;
    }


    .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    }

    .col{
    width: calc(100% / 12 * 6);
    position: relative;
    
    }

[class^="col"]{
    padding: 10px;

}

.title{
        
    color: white;
}
.descrizione{
    text-align: center;
}
.sub{
    color: grey;
}


/* END UTILITIES */


/* BOTTOM */
.bottom{
    background-color:#282828;
    height: 90px;
    width: 100vw;

    ul{
        
        list-style: none;
        align-items: center;
        
    }
    li{
        padding: 0 5px;
         strong{
            margin-left: 5px;
            color: white;
            font-size: 10px;
        }

        .fa-regular{
            color: grey;
            font-size: 10px;
        }
    }

    .fa-solid{
        color: grey;
        padding:10px;
    }

}
 
.card{
    .fa-solid{
        font-size: 60px;
        color: grey;
    }
    .fa-solid:hover{
        color: white;
    }
   }
 
.brano{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.card-album{


    .nome{
        color: grey;
        font-size: 10px;
        margin-left: 5px;
        }
}



.john{
    background-color: grey;
    border-radius: 50px;
    
}

.sidebar-bottom{
    background-color: black;
}



/* CONTAINER */
.container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    
}
  

.icon{

    i:hover{
        color: white;
    }
}
.player{

    .player-top{
        display: flex;
        justify-content: center;
    }

    ul{
        display: flex;
    }
    i:hover{
        color: white;
    }
}




/* PLAYER */

.player-bottom{
    display: flex;
    align-items: center;

    .fa-solid{
        padding: 0;
        font-size: 10px;
    }

    .fa-solid:hover{
        color: yellow;
    }
}

.line{
    
    height: 1px;
    width: 90px;
    border-top: 2px solid white;
    padding-left: 5px;   

    &:hover{
        border-top: 2px solid yellow;
    }
}
.line-2{
    height: 1px;
    width: 100px;
    border-top: 2px solid grey;
    
}
.minute{
    padding: 0 3px;
    font-size: 10px;
    color: grey;
    
}


/* VOLUME */

.volume{
    display: flex;
    align-items: center;

    ul{
        display: flex;
    }
    i:hover{
        color: white;
    }
    
    .fa-solid{
        font-size: 10px;
    }
    li{
        padding: 0;
    }
    
}

.volume-line{
    
    width: 20px;
    border-top: 2px solid white; 
    
    &:hover{
        border-top: 2px solid yellow;
    }
}

.volume-line-2{
    width: 40px;
    border-top: 2px solid grey;
    margin-right: 2px;

   
}


/* END BOTTOM */






/* MEDIA QUERY */

/* media s */
@media screen and (min-width:640px) {

    /* SIDEBAR */
    .sidebar{
        min-width: 100px;
        }
        /* MAIN */
        .main{
            width: calc(100vw - 100px);
        }

        .logo{
            display: none;
        }

        .logo-s{
            display: block;
        }

        /* UPGRADE */
        .upgrade{
            a{

                    font-size: 20px;
                
            }
        }
        a {
            text-decoration: none;
            color: rgb(185, 182, 182);
            font-size: 10px;
            padding: 3px;
        }

      
        .text{
            display: inline-block;
        }

        .scarica{
            width: 10px;
        }

        .playlist{
            color: white;
        }
        
        .fa-solid{
            font-size: 20px;
        }

        .display-none{
            display: inline-block;
        }

        .scrollbar{
            height: 200px;
            overflow-y: auto;
        }
        .sider-bottom{
            min-height: 100px;
        }
        .player-bottom{
            justify-content: center;
          }

          .volume{
            padding-right: 20px;
    
        }

    }


/* section md */

@media screen and (min-width:878px) {

    /* SIDEBAR */
    .sidebar{
        width:120px ;
        a{
            padding: 7px;
        }
    }
    /* MAIN */
    .main{
        width: calc(100vw - 120px );

        ul{
            
            gap: 20px;
    
        }
        
        a{
        font-size: 10px;
        padding: 10px;
        margin: 20px;
        }
    }

    .col{
       
        width: calc(100% / 12 * 3);
        
    }

    /* BOTTOM */
  .player-bottom{
    justify-content: center;
  }

    .volume{
        padding-right: 20px;

    }
    .yellow{
        border-left: 2px solid yellow;
    }
 
    .player-bottom{
        
        .line{
            width: 150px;
            
        }

        .line-2{
            width: 200px;
        }
    }
}


/* section lg */
@media screen and (min-width: 1440px) {

    /* SIDEBAR */
    .sidebar{
        width: 140px;

        a{
            font-size: 12px;
            padding: 10px;
        }
    }

    /* MAIN */
    .main{
        width: calc(100vw - 140px);

        ul{
            gap: 10px;
        }
        a{
            font-size: 15px;
            padding: 5px;
            margin: 10px;
            }
    }
    .col{
        width: calc(100% / 12 * 2);
    }

    /* BOTTOM */
    .volume{
        padding-right: 30px;

    }

    .player-bottom{
        
        .line{
            width: 150px;
            
        }

        .line-2{
            text-align: center;
           
        }
    }
}


